/*common CSS rules*/
@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	margin:-8px;
}

#container
{
	display:grid;
	grid-template-areas: 
		'header header header'
		'pho noodles springroll'
		'footer footer footer';
	grid-column:auto;
	background-image: url(images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition:all 1s ease-out 0.1s;
}

#header
{
	grid-area:header;
	background: #dde0b6;
} 


#left
{
	grid-area:pho;
	background: #f5a883;
}
#middle
{
	grid-area: noodles;
	background: #efc67c;
}

#right
{
	grid-area: springroll;
	background:#b7c06f;
}
#foot
{
	grid-area: footer;
	background: #dde0b6;
	font-size:15px;
	text-align: center;
}


.cell
{
	text-align: left;
	line-height: 1.6em;
	font-size:15px;
	width:80%;
	height: auto;
	justify-self: center;
	margin:20px;
	transition:all 0.5s ease-out 0.1s;
}
.cell img{
	max-width: 100%;
	height:auto;

}
.cell:hover{
	box-shadow: 10px 20px #888888;
	transform: scale(1.1); 
}
h1{
	text-align: center;
	font-family: 'Nanum Brush Script', cursive;
	font-size:50px;
	color:#9b3c2e;
	line-height: 1.1em;
}
/*hide submenu*/
.dropdown > li > ul{
	list-style:none;
	visibility: hidden;
	opacity:0;
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #fff;
	margin: 0;
	z-index: 1;
	padding:0px;
	line-height: 1.6em;
	left:-200px;
}

/*show submenu when hover*/
nav.navbar > ul.dropdown > li:hover > ul{
	position: absolute;
	z-index: 1;
	visibility: visible;
	opacity:1;
	transition:all 0.2s ease-out;
	transform:translateX(200px);
	background:#dde0b6;

}
nav.navbar{
	text-align: center;
	font-size:14px;
}
nav.navbar > ul.dropdown > li > ul > li{
	width:100%;
}


nav.navbar > ul.dropdown > li > ul > li > a{
	font-size: 25px;
	width: auto;
	display:block;
	padding: 10px 0;
}

.active
{
	background:#b7c06f;
}


/* parent list for menus */
.dropdown{
	display:inline-block;
	padding-left:0;
	background:#f1e3cb;
	margin-bottom: 5px;
}
/* top-level menu items */
.dropdown li 
{
	position: relative;
	border: 2px solid #9b3c2e;
	display:inline-block;
	background:#f3e6be;
	list-style:none;
	margin-right:-4px;
}
.dropdown a{
	font-size:40px;
	color:#9b3c2e;
	text-decoration:none;
	font-family: 'Libre Baskerville', serif;
	padding:0 10px;
}
nav.navbar ul.dropdown a:hover{
	background:#b7c06f;
	box-shadow: 10px 5px;
}
#logo
{
	text-align: center;
	width:100%;
}
p
{
	padding: 0px 10px 0px 10px;  
}

@media only screen and (max-width: 992px) 
{
	#container
	{
		display:grid;
		grid-template-areas: 
			'header header'
			'pho noodles'
			'springroll springroll'
			'footer footer';
		grid-column:auto;
		grid-template-rows:auto;
		background-image: url(images/background.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;  
	}
	.cell
	{
		text-align: center;
		line-height: 1.6em;
		font-size:12px;
	}
	#left, #middle{
		max-width:100%;
		max-height:100%;   
		width: 80%;
		height: 90%;
		margin-top:50px;

	}
	#left img, #middle img{
		height:50%;
		width:100%;
	}
	#right{
		width: 50%;
		height: 100%;
		margin-top:0;
	}
	#right img{
		max-width: 100%;
	}
}
@media only screen and (max-width: 768px) 
{
	#container
	{
		display:grid;
		grid-template-areas: 
			'header'
			'pho'
			'noodles'
			'springroll'
			'footer';
		grid-column:auto;
		background:lightyellow;
	}
	.cell
	{
		text-align: left;
		line-height: 1.6em;
		font-size:12px;
		width:100%;
		height: 100%;
		justify-self: center;
		margin-bottom: 0px;
	}
	.cell img{
		max-width: 100%;
		height:60%;
		width: 100%;
	}
	#left,#right,#middle{
		height:90%;
		width:100%;
	}
	.dropdown li{
		display: block;
		width:250px;
		text-align: center;
	}
	.dropdown a{
		font-size: 30px;
	}
}

